<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table>
  <thead>
    <tr>
    <%= image_tag("logos/logo.jpeg") %>
      <th>Title
     <p> घर या ऑफिस से कार्य कर सकते है अतिशीग्र ही आवश्यकता है</p> 
           <p> नियम एवं शर्तें ध्यानपूर्वक पूरी पढ़े</p>
     <p>1 हमारी कंपनी आपको डेटा एंट्री का काम देती है डाटा एंट्री ओप्रेटिग आप अपने मोबाइल /लैपटॉप से घर या ऑफिस से कार्य कर सकते है </p>
                   <p> मासिक आय अनुमानित 6000~14000 तक </p>
<p>2 हमारी कंपनी के साथ तीन माह से अधिक आप काम करते हैं तो आपको हमारी कंपनी लेपटॉप/स्मार्टफोन वितरित करती है </p>
<p>3 हमारी कंपनी में कार्यरत के लिए आपका आधार/ईमेल/मोबाइल नम्बर वॉट्सएप से ही परमाणित कर दिया जाएगा</p>
<p>4 हमारी कंपनी श्रमिक से 299₹ कुल राशि जमा करवाती है ये शुल्क इसलिए ली जाती है कारणवश अगर श्रमिक को दिया गया कार्य वह नही कर पाता है तो कंपनी की उसे दूसरे श्रमिक को कार्य सोपने पर प्रतिबद्ध होने के कारण कंपनी अपने फंड में जमा करवाती हे</p>
299₹ शुल्क जमा करने के पश्चात तीन दिन के कार्यदिवस में आपको डाटा एंट्री का कार्य ट्रायल करवाने के बाद आप कार्य ऑपरेट कर सकते है
                          <p>Note</p>
<p>हमारी सर्वश्रेष्ठ प्रदर्शन करने के लिए आपके योगदान की आवश्यकता हे और आप किसी को रेफरल कर कम्पनी ज्वॉइन करवाती हे तो 1000₹ आपको बोनस के रूप में देती हे</p>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# <%= link_to 'New Post', new_post_path %> 
